.contrib

    text-transform: uppercase

    color: rgb(174, 174, 174)
    background-color: #293540
    padding-bottom: 1.5rem

    &.level
        margin-bottom: 0em !important

    &main .enable
        background-color: #324150
        padding: 2em
        margin-top: 2em

    &main .slider
        margin-top: 2em

    & .level-item
        padding-top: 1em
        padding-bottom: 1em

    & .menu

        border-bottom-color: #293540
        border-bottom-width: 0.5em
        padding-bottom: 0px

    & .column
        padding: 0.5em 0 0 0

    & .level-item

        border-bottom-color: #22272d
        border-bottom-width: 0.2em
        border-bottom-style: solid

    & .level-item.active
        color: #1BDD9D

        border-bottom-color: #1BDD9D
        border-bottom-width: 0.2em
        border-bottom-style: solid

.items-container
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    min-width: 35rem

    .item-container
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        //TODO add media queries
        max-width: 13rem
        text-align: center

        p
            text-align: center
            padding: 1rem 0
