.tandc {
    border-radius: 5px;
}
/* 
.tandc pre {
    background-color: #293540;
    border-bottom:none;
    color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.6;

} */

.tandc input {
    margin-right:1em;
}

.tandc .checkbox:hover, .radio:hover {
    color:white;


}

.tandccontent {
    white-space: pre-line;
}

.tandc .modal-card-head,
.tandc .modal-card-body,
.tandc .modal-card-foot
 {
    background-color: #293540;
    border-bottom:none;
    border-top:none;
    /* color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6; */
}

.tandc .modal-card-title {
    color: white;
    font-size: 20px;
}