// Core Variables
$white: #ffffff
$info: #413594
$success: #20BC44
$family-sans-serif: 'Exo 2', sans-serif

$base-col: #2e4e72
$accent-col-1: #c6dc94
$accent-col-2: #54b276
$accent-col-3: #1bdd9d

$input-background-color: transparent
$input-color: white
$input-focus-border-color: white
$input-border-color: rgba(255,255,255,0.5)

$footer-background-color: #253548

$switch-background: rgba(255,255,255,0.1)
$navbar-background: #19232D
