@import '../sass/_colors'

.navbar-start
    .navbar-item
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 16px
        display: flex
        align-items: center
        color: $white
        opacity: 0.6

    a
        text-decoration: inherit
        color: inherit

    .is-active
        border-top: 3px solid $accent-col-3
        border-bottom: 3px solid $navbar-background
        opacity: 1
