@import '../sass/_colors'

.slider
    margin-top: 2em

    .level
        margin-bottom: 0.8rem !important

.progress
    height: 0.8rem !important
    margin-bottom: 0.8rem !important

.progress-bar
    float: left

    &.fill
        background-image: $linear-gradient-col-primary
        height: 100%

    &.shadow
        height: 100%

    &.full
        background-color: $progressbar-background-color
        height: 100%

.linear-gradient-text
    p
        background: $linear-gradient-col-primary
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
